{
  "presets": [
    "env"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-object-assign"
  ],
  "env": {
    "dist": {
      "ignore": [
        "**/*.test.js"
      ]
    }
  }
}
