{
    "swagger": "2.0",
    "info": {
        "title": "Musement API",
        "description": "Musement API",
        "termsOfService": "https://www.musement.com/",
        "contact": {
            "email": "api-support@musement.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "3.3.2"
    },
    "host": "developers.musement.com",
    "basePath": "/api/v3",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json",
        "application/xml"
    ],
    "produces": [
        "application/json",
        "application/xml"
    ],
    "paths": {
        "/activities": {
            "get": {
                "tags": [
                    "search",
                    "activity"
                ],
                "summary": "Activities search entrypoint",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/X-Musement-Currency"
                    },
                    {
                        "$ref": "#/parameters/text"
                    },
                    {
                        "$ref": "#/parameters/text_operator"
                    },
                    {
                        "$ref": "#/parameters/extend_other_languages"
                    },
                    {
                        "$ref": "#/parameters/extend_content_fields"
                    },
                    {
                        "$ref": "#/parameters/fuzziness_level"
                    },
                    {
                        "$ref": "#/parameters/zero_terms_query"
                    },
                    {
                        "$ref": "#/parameters/sort_by"
                    },
                    {
                        "name": "category_in",
                        "in": "query",
                        "description": "Filter, include only results from given categories identified by a collection of literal codes",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv"
                    },
                    {
                        "$ref": "#/parameters/city_in"
                    },
                    {
                        "$ref": "#/parameters/coordinates"
                    },
                    {
                        "name": "country_in",
                        "in": "query",
                        "description": "Filter, include only results from given countries identified by a collection of 2 chars country code",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv"
                    },
                    {
                        "$ref": "#/parameters/default_price_range"
                    },
                    {
                        "$ref": "#/parameters/distance"
                    },
                    {
                        "$ref": "#/parameters/feature_in"
                    },
                    {
                        "name": "temporary",
                        "in": "query",
                        "description": "Filter, include results on an temporary flag basis. Accepted values: YES or NOT",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "$ref": "#/parameters/venue_in"
                    },
                    {
                        "name": "vertical_in",
                        "in": "query",
                        "description": "Filter, include only results from given verticals identified by a collection of literal codes",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful, and in case of empty results",
                        "schema": {
                            "$ref": "#/definitions/ActivitySearchResult"
                        }
                    },
                    "503": {
                        "description": "Returned when te service is unavailable"
                    }
                }
            },
            "post": {
                "tags": [
                    "activity"
                ],
                "summary": "Create an activity",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/Accept-Language"
                    },
                    {
                        "name": "PostActivity",
                        "in": "body",
                        "description": "Activity post request",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PostActivity"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "schema": {
                            "$ref": "#/definitions/Event"
                        }
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    },
                    "400": {
                        "description": "Returned if sent data contains errors"
                    }
                }
            }
        },
        "/activities-related": {
            "get": {
                "tags": [
                    "search",
                    "activity"
                ],
                "summary": "Activities related search entrypoint",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/X-Musement-Currency"
                    },
                    {
                        "$ref": "#/parameters/text"
                    },
                    {
                        "$ref": "#/parameters/text_operator"
                    },
                    {
                        "$ref": "#/parameters/extend_other_languages"
                    },
                    {
                        "$ref": "#/parameters/extend_content_fields"
                    },
                    {
                        "$ref": "#/parameters/fuzziness_level"
                    },
                    {
                        "$ref": "#/parameters/zero_terms_query"
                    },
                    {
                        "$ref": "#/parameters/sort_by"
                    },
                    {
                        "$ref": "#/parameters/coordinates"
                    },
                    {
                        "$ref": "#/parameters/minimum_events"
                    },
                    {
                        "$ref": "#/parameters/city_limit"
                    },
                    {
                        "$ref": "#/parameters/city_offset"
                    },
                    {
                        "$ref": "#/parameters/list_limit"
                    },
                    {
                        "$ref": "#/parameters/list_offset"
                    },
                    {
                        "$ref": "#/parameters/venue_limit"
                    },
                    {
                        "$ref": "#/parameters/venue_offset"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful, and in case of empty results",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ActivityRelatedResult"
                            }
                        }
                    },
                    "503": {
                        "description": "Returned when te service is unavailable"
                    }
                }
            }
        },
        "/activities/{activityUuid}/dates": {
            "get": {
                "tags": [
                    "date"
                ],
                "summary": "Get available dates for an event",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/X-Musement-Currency"
                    },
                    {
                        "$ref": "#/parameters/activityUuid"
                    },
                    {
                        "name": "date_from",
                        "in": "query",
                        "description": "Start date | If not specified set to today | Use format: YYYY-MM-DD",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "date_to",
                        "in": "query",
                        "description": "To date | If not specified set to next year | Use format: YYYY-MM-DD",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "schema": {
                            "$ref": "#/definitions/Date"
                        }
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            }
        },
        "/activity-taxonomies/{activityTaxonomyType}": {
            "get": {
                "tags": [
                    "activity"
                ],
                "summary": "Get all taxonomies for the required type",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/Accept-Language"
                    },
                    {
                        "name": "activityTaxonomyType",
                        "in": "path",
                        "description": "Activity taxonomy type",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "highlights",
                            "inclusions",
                            "exclusions"
                        ]
                    },
                    {
                        "name": "taxonomy_category_code",
                        "in": "query",
                        "description": "Taxonomy category code",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "schema": {
                            "$ref": "#/definitions/ActivityTaxonomy"
                        }
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            }
        },
        "/activities/{activityUuid}/ticket-codes/{priceTagFeature}/{priceTagHolder}": {
            "get": {
                "tags": [
                    "activity"
                ],
                "summary": "Get available ticket code for an event",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/activityUuid"
                    },
                    {
                        "name": "priceTagFeature",
                        "in": "path",
                        "description": "PriceTag feature code",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "priceTagHolder",
                        "in": "path",
                        "description": "PriceTag holder code",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful"
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            },
            "post": {
                "tags": [
                    "activity"
                ],
                "summary": "Add new ticket codes too an event",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/activityUuid"
                    },
                    {
                        "name": "priceTagFeature",
                        "in": "path",
                        "description": "PriceTag feature code",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "priceTagHolder",
                        "in": "path",
                        "description": "PriceTag holder code",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful"
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            }
        },
        "/activities/{activityUuid}/ticket-codes/{priceTagFeature}/{priceTagHolder}/{code}": {
            "patch": {
                "tags": [
                    "activity"
                ],
                "summary": "Update selected ticket code",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/activityUuid"
                    },
                    {
                        "name": "priceTagFeature",
                        "in": "path",
                        "description": "PriceTag feature code",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "priceTagHolder",
                        "in": "path",
                        "description": "PriceTag holder code",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "code",
                        "in": "path",
                        "description": "Ticket code",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful"
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            }
        },
        "/activities/{activityUuid}/dates/{day}/timeslots/{time}": {
            "get": {
                "tags": [
                    "timeslot"
                ],
                "summary": "Get data for a timeslot",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/activityUuid"
                    },
                    {
                        "$ref": "#/parameters/day"
                    },
                    {
                        "$ref": "#/parameters/time"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "schema": {
                            "$ref": "#/definitions/Timeslot"
                        }
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "403": {
                        "description": "Returned when you cannot access the resource"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            },
            "patch": {
                "tags": [
                    "timeslot"
                ],
                "summary": "Update data for a timeslot",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/activityUuid"
                    },
                    {
                        "$ref": "#/parameters/day"
                    },
                    {
                        "$ref": "#/parameters/time"
                    },
                    {
                        "name": "PatchTimeslot",
                        "in": "body",
                        "description": "Timeslot patch request",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PatchTimeslot"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "schema": {
                            "$ref": "#/definitions/Timeslot"
                        }
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "403": {
                        "description": "Returned when you don't have permissions"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            }
        },
        "/activities/{activityUuid}/dates/{day}/timeslots": {
            "post": {
                "tags": [
                    "timeslot"
                ],
                "summary": "Add a timeslot",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/activityUuid"
                    },
                    {
                        "$ref": "#/parameters/day"
                    },
                    {
                        "name": "PostTimeslot",
                        "in": "body",
                        "description": "Timeslot post request",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PostTimeslot"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "schema": {
                            "$ref": "#/definitions/Timeslot"
                        }
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "403": {
                        "description": "Returned when you don't have permissions"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            }
        },
        "/activities/{activityUuid}/dates/{day}/timeslots/{time}/{pricetagCode}": {
            "get": {
                "tags": [
                    "timeslot"
                ],
                "summary": "Get data for a product of a timeslot",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/X-Musement-Currency"
                    },
                    {
                        "$ref": "#/parameters/activityUuid"
                    },
                    {
                        "$ref": "#/parameters/day"
                    },
                    {
                        "$ref": "#/parameters/time"
                    },
                    {
                        "$ref": "#/parameters/pricetagCode"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "schema": {
                            "$ref": "#/definitions/TimeslotProduct"
                        }
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "403": {
                        "description": "Returned when you cannot access the resource"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            },
            "put": {
                "tags": [
                    "timeslot"
                ],
                "summary": "Update data of a product for a specific timeslot",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/X-Musement-Currency"
                    },
                    {
                        "$ref": "#/parameters/activityUuid"
                    },
                    {
                        "$ref": "#/parameters/day"
                    },
                    {
                        "$ref": "#/parameters/time"
                    },
                    {
                        "$ref": "#/parameters/pricetagCode"
                    },
                    {
                        "name": "PutTimeslotProduct",
                        "in": "body",
                        "description": "Timeslot product patch request",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PutTimeslotProduct"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "schema": {
                            "$ref": "#/definitions/TimeslotProduct"
                        }
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "403": {
                        "description": "Returned when you don't have permissions"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            }
        },
        "/affiliates/{affiliateCode}": {
            "get": {
                "tags": [
                    "affiliate"
                ],
                "summary": "Get an affiliate by code",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/Accept-Language"
                    },
                    {
                        "name": "affiliateCode",
                        "in": "path",
                        "description": "Affiliate code",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "schema": {
                            "$ref": "#/definitions/Affiliate"
                        }
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            }
        },
        "/autocomplete": {
            "get": {
                "tags": [
                    "Autocomplete"
                ],
                "summary": "Get autocompletion suggestions for textual search",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/sort_by"
                    },
                    {
                        "$ref": "#/parameters/coordinates"
                    },
                    {
                        "$ref": "#/parameters/text"
                    },
                    {
                        "$ref": "#/parameters/activity_limit"
                    },
                    {
                        "$ref": "#/parameters/activity_offset"
                    },
                    {
                        "$ref": "#/parameters/blog_post_limit"
                    },
                    {
                        "$ref": "#/parameters/blog_post_offset"
                    },
                    {
                        "$ref": "#/parameters/category_limit"
                    },
                    {
                        "$ref": "#/parameters/category_offset"
                    },
                    {
                        "$ref": "#/parameters/city_limit"
                    },
                    {
                        "$ref": "#/parameters/city_offset"
                    },
                    {
                        "$ref": "#/parameters/list_limit"
                    },
                    {
                        "$ref": "#/parameters/list_offset"
                    },
                    {
                        "$ref": "#/parameters/venue_limit"
                    },
                    {
                        "$ref": "#/parameters/venue_offset"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/AutocompleteResult"
                            }
                        }
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            }
        },
        "/backgrounds": {
            "get": {
                "tags": [
                    "background"
                ],
                "summary": "Get backgrounds media",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Background"
                            }
                        }
                    },
                    "404": {
                        "description": "No resource found"
                    },
                    "503": {
                        "description": "Service unavailable"
                    }
                }
            }
        },
        "/blogposts-categories": {
            "get": {
                "tags": [
                    "blog"
                ],
                "summary": "Get all available blogpost categories",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/Accept-Language"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/BlogpostCategoryAggregated"
                            }
                        }
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            }
        },
        "/blogposts-categories/{id}": {
            "get": {
                "tags": [
                    "blog"
                ],
                "summary": "Get a specific blogpost category",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/Accept-Language"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Category identifier",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "schema": {
                            "$ref": "#/definitions/BlogpostCategory"
                        }
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            }
        },
        "/blogposts/{id}": {
            "get": {
                "tags": [
                    "blog"
                ],
                "summary": "Get blogpost by identifier",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/Accept-Language"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Blogpost unique identifier",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "schema": {
                            "$ref": "#/definitions/Blogpost"
                        }
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            }
        },
        "/blogposts/{id}/{position}": {
            "get": {
                "tags": [
                    "blog"
                ],
                "summary": "Get previous o next blogposts",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/Accept-Language"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Blogpost unique identifier",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "position",
                        "in": "path",
                        "description": "Indicate if you want the prev or the next post",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "prev",
                            "next"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "schema": {
                            "$ref": "#/definitions/Blogpost"
                        }
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            }
        },
        "/blogposts": {
            "get": {
                "tags": [
                    "blog"
                ],
                "summary": "Get a blogposts",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "name": "blogpost_category",
                        "in": "query",
                        "description": "The blog post category uuid to filter by",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "home_page_featured",
                        "in": "query",
                        "description": "If true will include only home page featured posts",
                        "type": "boolean",
                        "default": false
                    },
                    {
                        "$ref": "#/parameters/category"
                    },
                    {
                        "$ref": "#/parameters/vertical"
                    },
                    {
                        "name": "list",
                        "in": "query",
                        "description": "List identifier to filter by",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "city",
                        "in": "query",
                        "description": "City identifier to filter by",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/venue"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page from which starting to return found events (mandatory if limit is given)",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "description": "Ordering criteria: [publish_date|relevance], prepend `-` for descending order",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Blogpost"
                            }
                        }
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            }
        },
        "/carts/{cartUuid}": {
            "get": {
                "tags": [
                    "cart"
                ],
                "summary": "Get a cart by unique identifier",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/X-Musement-Currency"
                    },
                    {
                        "$ref": "#/parameters/cartUuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "schema": {
                            "$ref": "#/definitions/Cart"
                        }
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            },
            "put": {
                "tags": [
                    "cart"
                ],
                "summary": "Replace a Cart",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/X-Musement-Currency"
                    },
                    {
                        "$ref": "#/parameters/cartUuid"
                    },
                    {
                        "name": "cart",
                        "in": "body",
                        "description": "Cart request",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CartRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "schema": {
                            "$ref": "#/definitions/Cart"
                        }
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            },
            "patch": {
                "tags": [
                    "cart"
                ],
                "summary": "Update a cart",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/X-Musement-Currency"
                    },
                    {
                        "$ref": "#/parameters/cartUuid"
                    },
                    {
                        "name": "cart",
                        "in": "body",
                        "description": "Cart request",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CartRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "schema": {
                            "$ref": "#/definitions/Cart"
                        }
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            }
        },
        "/carts/{cartUuid}/form": {
            "get": {
                "tags": [
                    "cart"
                ],
                "summary": "Get the form associated to a cart",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/cartUuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "schema": {
                            "$ref": "#/definitions/CheckoutForm"
                        }
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            }
        },
        "/carts/{cartId}/bundles": {
            "get": {
                "tags": [
                    "cart"
                ],
                "summary": "Get the bundle in a cart",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/X-Musement-Currency"
                    },
                    {
                        "$ref": "#/parameters/cartId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "schema": {
                            "$ref": "#/definitions/Bundle"
                        }
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            }
        },
        "/carts": {
            "post": {
                "tags": [
                    "cart"
                ],
                "summary": "Create a cart",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/X-Musement-Currency"
                    },
                    {
                        "name": "cart",
                        "in": "body",
                        "description": "Cart request",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CartRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "schema": {
                            "$ref": "#/definitions/Cart"
                        }
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            }
        },
        "/carts/{cartUuid}/tickets": {
            "post": {
                "tags": [
                    "cart"
                ],
                "summary": "Add tickets to a cart | Deprecated infavour of POST /carts/{cartUuid}/items",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/X-Musement-Currency"
                    },
                    {
                        "$ref": "#/parameters/cartUuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "schema": {
                            "$ref": "#/definitions/Cart"
                        }
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                },
                "deprecated": true
            }
        },
        "/carts/{cartUuid}/promo-intent": {
            "post": {
                "tags": [
                    "cart"
                ],
                "summary": "Generate a promo intent",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/cartUuid"
                    },
                    {
                        "name": "promo-intent",
                        "in": "body",
                        "description": "Promo intent data",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PostPromoIntent"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Returned when successful",
                        "schema": {
                            "$ref": "#/definitions/PromoIntent"
                        }
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            }
        },
        "/carts/{cartUuid}/customer": {
            "patch": {
                "tags": [
                    "guest-customer"
                ],
                "summary": "Patch cart customer data",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/cartUuid"
                    },
                    {
                        "name": "PatchCustomerGuestCart",
                        "in": "body",
                        "description": "Customer data",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PatchCustomerGuestCart"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "schema": {
                            "$ref": "#/definitions/Customer"
                        }
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            }
        },
        "/carts/{cartUuid}/items": {
            "post": {
                "tags": [
                    "cart"
                ],
                "summary": "Add an items to a cart",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/X-Musement-Currency"
                    },
                    {
                        "$ref": "#/parameters/cartUuid"
                    },
                    {
                        "name": "cart",
                        "in": "body",
                        "description": "Product request",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PostCartItem"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "schema": {
                            "$ref": "#/definitions/CartItem"
                        }
                    },
                    "401": {
                        "description": "Returned when something"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            }
        },
        "/carts/{cartUuid}/items/{cartItemUuid}/passengers/form": {
            "get": {
                "tags": [
                    "passengers-info"
                ],
                "summary": "Get passengers info",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/cartUuid"
                    },
                    {
                        "$ref": "#/parameters/cartItemUuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "schema": {
                            "$ref": "#/definitions/passengersInfoForm"
                        }
                    },
                    "400": {
                        "description": "Returned when data are contains some error"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            }
        },
        "/carts/{cartUuid}/items/{cartItemUuid}/passengers/{passengerNumber}": {
            "put": {
                "tags": [
                    "passengers-info"
                ],
                "summary": "Set passengers info for an item",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/cartUuid"
                    },
                    {
                        "$ref": "#/parameters/cartItemUuid"
                    },
                    {
                        "$ref": "#/parameters/passengerNumber"
                    },
                    {
                        "name": "passengerInfo",
                        "in": "body",
                        "description": "Passenger info",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/FormFieldValue"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/FormFieldValue"
                            }
                        }
                    },
                    "400": {
                        "description": "Returned when data are contains some error"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            }
        },
        "/carts/{cartUuid}/extra-customer-info": {
            "get": {
                "tags": [
                    "extra-customer-info"
                ],
                "summary": "Get extra customer info for a cart",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/cartUuid"
                    },
                    {
                        "$ref": "#/parameters/cartItemUuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/FormFieldDefinition"
                            }
                        }
                    },
                    "400": {
                        "description": "Returned when data are contains some error"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            },
            "put": {
                "tags": [
                    "extra-customer-info"
                ],
                "summary": "Set extra customer info for an item",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/cartUuid"
                    },
                    {
                        "$ref": "#/parameters/cartItemUuid"
                    },
                    {
                        "name": "extraCustomerData",
                        "in": "body",
                        "description": "Extra customer data",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/FormFieldValue"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/FormFieldValue"
                            }
                        }
                    },
                    "400": {
                        "description": "Returned when data are contains some error"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            }
        },
        "/categories/{categoryId}": {
            "get": {
                "tags": [
                    "category"
                ],
                "summary": "Get a category by identifier",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/categoryId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "schema": {
                            "$ref": "#/definitions/Category"
                        }
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            }
        },
        "/categories": {
            "get": {
                "tags": [
                    "category"
                ],
                "summary": "Get categories",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page from which starting to return found events (mandatory if limit is given)",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "description": "Ordering criteria: [relevance|city_relevance|discount], prepend `-` for descending order",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "csv"
                    },
                    {
                        "name": "filtering_aware",
                        "in": "query",
                        "description": "If true the category is usable as filter",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Category"
                            }
                        }
                    },
                    "404": {
                        "description": "No resource found"
                    },
                    "503": {
                        "description": "Service unavailable"
                    }
                }
            }
        },
        "/categories/{categoryId}/activities": {
            "get": {
                "tags": [
                    "category"
                ],
                "summary": "Get activities for a category",
                "description": "Get all activities for a category sorted by category relevance. Only the activities that have at least one active date in the period specified between date_from and date_to are returned. If date_from and date_to are not set then the period that will be set will be one year from the date of the request'",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/X-Musement-Currency"
                    },
                    {
                        "$ref": "#/parameters/categoryId"
                    },
                    {
                        "$ref": "#/parameters/vertical"
                    },
                    {
                        "$ref": "#/parameters/city"
                    },
                    {
                        "$ref": "#/parameters/venue"
                    },
                    {
                        "$ref": "#/parameters/editorial-category"
                    },
                    {
                        "$ref": "#/parameters/date_from"
                    },
                    {
                        "$ref": "#/parameters/date_to"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "description": "Sorting strategy",
                        "required": false,
                        "type": "string",
                        "default": "venue-relevance",
                        "enum": [
                            "relevance",
                            "venue-relevance",
                            "category-relevance",
                            "price",
                            "rating"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Event"
                            }
                        }
                    },
                    "404": {
                        "description": "No resource found"
                    },
                    "503": {
                        "description": "Service unavailable"
                    }
                }
            }
        },
        "/cities/{cityId}": {
            "get": {
                "tags": [
                    "City"
                ],
                "summary": "Get city by unique identifier",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/cityId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "schema": {
                            "$ref": "#/definitions/City"
                        }
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            }
        },
        "/cities": {
            "get": {
                "tags": [
                    "City"
                ],
                "summary": "Get cities",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "name": "prioritized_country",
                        "in": "query",
                        "description": "Set the country to prioritize (id) (will affect results order)",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "prioritized_country_cities_limit",
                        "in": "query",
                        "description": "Set the number of cities to select from the country given in prioritized_country, if not given means unlimited",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "description": "Set sorting strategy",
                        "required": false,
                        "type": "string",
                        "default": "weight",
                        "enum": [
                            "none",
                            "weight"
                        ]
                    },
                    {
                        "name": "without_events",
                        "in": "query",
                        "description": "Set to 'yes' return all cities otherwise only those with events",
                        "required": false,
                        "type": "string",
                        "default": "no",
                        "enum": [
                            "yes",
                            "no"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CityAggregated"
                            }
                        }
                    },
                    "404": {
                        "description": "No resource found"
                    },
                    "503": {
                        "description": "Service unavailable"
                    }
                }
            }
        },
        "/cities/{cityId}/lists": {
            "get": {
                "tags": [
                    "City",
                    "List"
                ],
                "summary": "Get lists for a city",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/X-Musement-Device-Type"
                    },
                    {
                        "$ref": "#/parameters/Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/X-Musement-Currency"
                    },
                    {
                        "$ref": "#/parameters/cityId"
                    },
                    {
                        "$ref": "#/parameters/vertical"
                    },
                    {
                        "$ref": "#/parameters/exclude_not_tagged"
                    },
                    {
                        "$ref": "#/parameters/listtypes"
                    },
                    {
                        "$ref": "#/parameters/listtags"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/MusementList"
                            }
                        }
                    },
                    "404": {
                        "description": "No resource found"
                    },
                    "503": {
                        "description": "Service unavailable"
                    }
                }
            }
        },
        "/cities/{cityId}/verticals": {
            "get": {
                "tags": [
                    "city",
                    "vertical"
                ],
                "summary": "Get all verticals for a city",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/cityId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Vertical"
                            }
                        }
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            }
        },
        "/cities/{cityId}/activities": {
            "get": {
                "tags": [
                    "city",
                    "activity"
                ],
                "summary": "Get all activities for a city",
                "description": "Get all activities for an city. Only the activities that have at least one active date in the period specified between date_from and date_to are returned. If date_from and date_to are not set then the period that will be set will be one year from the date of the request'",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/X-Musement-Currency"
                    },
                    {
                        "$ref": "#/parameters/cityId"
                    },
                    {
                        "$ref": "#/parameters/vertical"
                    },
                    {
                        "$ref": "#/parameters/category"
                    },
                    {
                        "$ref": "#/parameters/venue"
                    },
                    {
                        "$ref": "#/parameters/editorial-category"
                    },
                    {
                        "$ref": "#/parameters/date_from"
                    },
                    {
                        "$ref": "#/parameters/date_to"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "description": "Sorting strategy",
                        "required": false,
                        "type": "string",
                        "default": "venue-relevance",
                        "enum": [
                            "relevance",
                            "venue-relevance",
                            "category-relevance",
                            "price",
                            "rating"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Event"
                            }
                        }
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            }
        },
        "/cities/{cityId}/activities/{happening}": {
            "get": {
                "tags": [
                    "city",
                    "activity"
                ],
                "summary": "Get activities happening that can be booked for today or for tomorrow",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/X-Musement-Currency"
                    },
                    {
                        "$ref": "#/parameters/cityId"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "name": "happening",
                        "in": "path",
                        "description": "Events for today or tomorrow ?",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "today",
                            "tomorrow"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Event"
                            }
                        }
                    },
                    "404": {
                        "description": "No resource found"
                    },
                    "503": {
                        "description": "Service unavailable"
                    }
                }
            }
        },
        "/cities/{cityId}/venues": {
            "get": {
                "tags": [
                    "city",
                    "venue"
                ],
                "summary": "Get all venues for a city",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/X-Musement-Currency"
                    },
                    {
                        "$ref": "#/parameters/cityId"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "$ref": "#/parameters/vertical"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Venue"
                            }
                        }
                    },
                    "404": {
                        "description": "No resource found"
                    },
                    "503": {
                        "description": "Service unavailable"
                    }
                }
            }
        },
        "/cities/{cityId}/categories": {
            "get": {
                "tags": [
                    "city",
                    "category"
                ],
                "summary": "Categories for the city. Sorted by the number of events for the category",
                "description": "Categories for the city. Sorted by the number of activities for the category",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/cityId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Category"
                            }
                        }
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            }
        },
        "/cities/{cityId}/verticals/{verticalId}/categories": {
            "get": {
                "tags": [
                    "city",
                    "category"
                ],
                "summary": "Categories for the city for a specific vertical. Sorted by the number of activities for the category",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/cityId"
                    },
                    {
                        "$ref": "#/parameters/verticalId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CategoryAggregated"
                            }
                        }
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            }
        },
        "/cities/{cityId}/blogposts": {
            "get": {
                "tags": [
                    "city",
                    "blog"
                ],
                "summary": "Get the blogposts for the city",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/cityId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Blogpost"
                            }
                        }
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            }
        },
        "/cities/{cityId}/regions": {
            "get": {
                "summary": "Get the regions for the city",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/cityId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Region"
                            }
                        }
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            }
        },
        "/venues/{venueId}/comments": {
            "get": {
                "tags": [
                    "venue",
                    "comment"
                ],
                "summary": "Get all comments for an venue",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/venueId"
                    },
                    {
                        "$ref": "#/parameters/locale"
                    },
                    {
                        "$ref": "#/parameters/min_rating"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Comment"
                            }
                        }
                    },
                    "404": {
                        "description": "No resource found"
                    },
                    "503": {
                        "description": "Service unavailable"
                    }
                }
            }
        },
        "/activities/{activityUuid}/comments": {
            "get": {
                "tags": [
                    "activity",
                    "comment"
                ],
                "summary": "Get all comments for the activity",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/activityUuid"
                    },
                    {
                        "$ref": "#/parameters/locale"
                    },
                    {
                        "$ref": "#/parameters/min_rating"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Comment"
                            }
                        }
                    },
                    "404": {
                        "description": "No resource found"
                    },
                    "503": {
                        "description": "Service unavailable"
                    }
                }
            }
        },
        "/content-managers/me": {
            "get": {
                "tags": [
                    "Security"
                ],
                "summary": "Get logged content manager data",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/Accept-Language"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "schema": {
                            "$ref": "#/definitions/ContentManager"
                        }
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            }
        },
        "/countries/{countryId}": {
            "get": {
                "tags": [
                    "country"
                ],
                "summary": "Get country by unique identifier",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/Accept-Language"
                    },
                    {
                        "name": "countryId",
                        "in": "path",
                        "description": "Country identifier",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "schema": {
                            "$ref": "#/definitions/Country"
                        }
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            }
        },
        "/countries": {
            "get": {
                "tags": [
                    "country"
                ],
                "summary": "Get all countries",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/Accept-Language"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Country"
                            }
                        }
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            }
        },
        "/countries/{countryId}/cities": {
            "get": {
                "tags": [
                    "country",
                    "city"
                ],
                "summary": "Get all cities for a country",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/countryId"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CityAggregated"
                            }
                        }
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            }
        },
        "/countries/{countryId}/activities": {
            "get": {
                "tags": [
                    "country",
                    "activity"
                ],
                "summary": "Get all activities for a country",
                "description": "Get all events for a country sorted by relevance. If priority_city is specified the event for that city are returned first'",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/Accept-Language"
                    },
                    {
                        "$ref": "#/parameters/X-Musement-Currency"
                    },
                    {
                        "$ref": "#/parameters/countryId"
                    },
                    {
                        "$ref": "#/parameters/vertical"
                    },
                    {
                        "name": "priority_city",
                        "in": "query",
                        "description": "Prioritize results that belong to this city",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "$ref": "#/parameters/offset"
                    },
                    {
                        "$ref": "#/parameters/limit"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Event"
                            }
                        }
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            }
        },
        "/currencies": {
            "get": {
                "tags": [
                    "global"
                ],
                "summary": "Get all available currencies",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/Accept-Language"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Currency"
                            }
                        }
                    },
                    "404": {
                        "description": "Returned when resource is not found"
                    },
                    "503": {
                        "description": "Returned when the service is unavailable"
                    }
                }
            }
        },
        "/customers/me": {
            "get": {
                "tags": [
                    "customer"
                ],
                "summary": "Get logged user data",
                "parameters": [
                    {
                        "$ref": "#/parameters/X-Musement-Version"
                    },
                    {
                        "$ref": "#/parameters/Accept-Language"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returned when successful",
                        "schema": {
                            "$ref": "#/definitions/Customer"
                        }
                    },
                    "503": {
                        "description": "Returned when te service is unavailable"
                    }
                },
                "security": [
                    {
                        "customer_oauth": [
                            "customer:read"
                        ]
                    }
                ]
            },
            "put": {
                "tags": [
                    "customer"
                ],
                "summary": "Update customer data. Set to empty not specified data",
                "description": "All data must be sent. Empty field will be cleared",
                "parameters": [
                    {
[...]
